In [1]:
print("This line will be printed.")

This line will be printed.

In [2]:
name = "John"
age = 23
print("%s is %d years old." %(name, age))

John is 23 years old.

In [3]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f'{name} is {age} years old.')

Enter your name: John
Enter your age: 23
John is 23 years old.

In [4]:
#Integer
x = 5
print(x)
print(type(x))

5
<class 'int'>

In [5]:
#String
x = "hello"
print(x)
print(type(x))

hello
<class 'str'>

In [6]:
#Floating point numbers
import math
print(format(math.pi, '.12g'))## g deya thakle . er age pore shb mile total number count hoy
print(format(math.pi, '0.6f'))

3.14159265359
3.141593

In [7]:
2**52 <= 2**56//10 <2**53

True

In [8]:
#If statement
x = 4
if x < 1:
    score = "low"
elif x <= 4:
    score = "medium"
else:
    score = "high"
    
print (score)

medium

In [9]:
# If statement with a boolean
x = True
if x:
    print("it worked")

it worked

In [10]:
# For loop
veggies = ["carrots", "broccoli", "beans"]
for veggies in veggies:
    print(veggies)

carrots
broccoli
beans

In [11]:
# For loop
veggies = ["carrots", "broccoli", "beans"]
print("All veggies: ")
for veggies in veggies:
    if veggies == "broccoli":
        break
    
    print(veggies)

##Try continue as well

All veggies:
carrots

In [12]:
# While loop
i = 0
while(i<10):
    print(i)
    i +=1

0
1
2
3
4
5
6
7
8
9

In [13]:
# creating list
x = [3, "hello", 1.2]
print(x)

[3, 'hello', 1.2]

In [14]:
#creating tupple
x = (3.0, "hello")
# tupples start and end with ()
print(x)

(3.0, 'hello')

In [15]:
# sets
text = "Learn ML with Made with ML"
print("Set: " ,set(text))
print("Set split:" ,set(text.split(" ")))

Set:  {'M', 'r', 'w', 'h', ' ', 'd', 't', 'L', 'n', 'i', 'e', 'a'}
Set split: {'with', 'Learn', 'ML', 'Made'}

In [16]:
# grab every letter in string
lst = [x for x in 'word']
lst

['w', 'o', 'r', 'd']

In [17]:
#check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]
lst

[0, 2, 4, 6, 8, 10]

In [18]:
#convert celcious to fahrenheit
celsius = [0,10,20.1,34.5]
fahrenheit = [((float(9)/5)* temp +32) for temp in celsius]
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [19]:
#nested list comprehension
lst = [x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [20]:
x = 2
lst.append(x)
print (lst)

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000, 2]

In [21]:
phonebook = {"john": 938477566, "Jack": 938377264, "Jill": 947662781}
print (phonebook)

{'john': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [22]:
phonebook = {"john": 938477566, "Jack": 938377264, "Jill": 947662781}
print (phonebook)

for name,number in phonebook.items():
    print ("Phone number of %s is %d" %(name,number))

{'john': 938477566, 'Jack': 938377264, 'Jill': 947662781}
Phone number of john is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781

In [23]:
#indexing
x = [3, "hello", 1.2]
print ("x[0]")

x[0]

In [24]:
def add_two(x):
    x +=2
    return x

a = 2
for a in range(10):
    add_two(a)
print (a)

9

In [25]:
def f(*args, **kwargs):
    x = args[0]
    y = kwargs.get("y")
    print (f"x: {x}, y: {y}")

f(5, y=2)

x: 5, y: 2

In [26]:
def identity(x):
    return x

In [27]:
lambda x:x

In [28]:
(lambda x:x+1)(2)

3

In [13]:
lst = []
length = int(input("Enter list length: "))
for i in range(0,length): 
    a = int(input(f'Enter value {i+1}: '))
    lst.append(a)
print(lst)

Enter list length: 5
Enter value 1: 20
Enter value 2: 1
Enter value 3: 5
Enter value 4: 6
Enter value 5: 22
[20, 1, 5, 6, 22]